html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Montserrat", serif;
}


.wrapper {
  width: 1000px;
  margin: 100px auto;
}

.title-container {
  background-color: beige;
  height: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-box {

  background-color: white;
  width: 400px;
  height: 100px;
}

.nav-container {
  background-color: bisque;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu {

  margin: 0 50px;

}

.flexbox-container {
  background-color: aliceblue;
  height: 700px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

}

.flexbox-container-2 {

  background-color: blanchedalmond;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: end;

}

.box-2 {
  background-color: azure;
  width: 400px;
  height: 200px;
  bottom: 50px;
  padding: 10px;
}

.box {

  background-color: aquamarine;
  width: 200px;
  height: 200px;
  margin: 50px;
}

.floating-box {
  background-color: rebeccapurple;
  width: 150px;
  height: 150px;
  position: fixed;
  right: 1075px;
  top: 100px;
  justify-content: center;

}